@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");


.font-rubik{
  font-family: "Rubik";
} 
.window-active .window-border{
  border-width: 3px;
  border-radius: 6px;
  border-color: rgb(59 130 246);
  overflow: hidden;
}
.window-active .check-mark{
  display: flex !important;
}
